<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="SteamRandomGamesList" >
        <classes>
            <class name="tests.main.test.AlertsTest" />
            <class name="tests.main.test.SteamDownloadAppTest"/>
            <class name="tests.main.test.SteamTestInvalidLogin"/>
        </classes>
    </test>
</suite>
